div{
    border-style: double;
    border-radius: 10px;
    border-width: 10px;
    margin:200px;
    margin-left: 400px;
    margin-right: 400px;
    border-color: aqua;
    background-color: aliceblue;
    
    
}
p{ 
    font-size:50px;
    padding: 20px;
    padding-left: 150px;
    padding-top: 30px;
}
button{
    margin: 20px;
    margin-left: 200px;
    
}